html{
    width: 100%;
    height: 100%;
}

.clear{
    clear: both;
}


/* css của sắp xếp */
select.snhv__select {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 5px;
    float: right;
    border-radius: 10px;
    background-color: #daeaf3;
}
.snhv__form--search {
    margin-top: 1.5%;
    margin-left: 3%;
}

button.snhv__input--search {
    border: none;
    background: white;
    color: snhvue;
    font-size: 17px;
}

.snhv__div--search--sort {
    width: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.snhv__input--search {
    height: 31px;
    border: none;
}

.snhv__form__div--search {
    border-bottom: 2px groove;
    margin-right: 10px;
}

input.snhv__input--search {
    width: 219px;
}

input.snhv--sort {
    cursor: pointer;
    margin-top: 10px;
    margin-right: 30px;
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 5px;
    float: right;
    border-radius: 10px;
    background-color: #daeaf3;
}


/* CSS của hiển thị */
.snhv__div--hienthi{
    /* margin-top: 30px; */
    width: 100%;
    border: 1px solid white;
}

.snhv__table_row--hienthi{
    height: 30px;
}

div tr.snhv__table--Tieu_de {
    background-color: #4472C4;

}
.snhv__modal__div--popup{
    width: 100%;
}
table.snhv__table--hienthi {
    color: black;
    width: 100%;
}

.snhv__table--hienthi tr:nth-child(even) {
    background-color: #E9EBF5;
  }

.snhv__table--hienthi tr:nth-child(odd) {
    background-color: #CFD5EA;
}

.snhv__table--hienthi tr th.snhv__table--pass_tap {
    border: 1px solid #2F528F;
    border-radius: 10px;
    font-size: 20px;
    border-width: 5px;
    padding: 2px;
}
.snhv__table--hienthi tr th.snhv__table--pass_tap a {
    color: black;
    width: 100%;
}

.snhv__table--hienthi tr th.snhv__table--pass {
    background-color: white;
}

/* them--popup */
.snhv__modal--popup {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.snhv__modal--popup--open{
    display: flex;
}
.snhv__modal__div--popup {
    width: 500px;
    position: relative;
    background-color: lightblue;
    height: 400px;
    border-radius: 20px;
    border: 5px solid #2F528F;
    animation: slide-in 1s forwards;

}
.snhv__modal__div--u{  
    position: absolute;
    font-size: 22px;
    margin-left: 20px;
    top: 3%;
}
table.snhv__table--addform {
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: lightblue;
    
}
.snhv__table--add-button{
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 3px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #daeaf3;
    margin-left: 5px;
    float: right;
    margin-top: 12px;
}
.snhv__table--button_huy{
    background-color: red;
}
.snhv__table--add_input{
    height: 20px;
    width: 266px;
}

/* css của button thêm sửa xóa */
.snhv__div--button{
    cursor: pointer;
    margin-left: 1%;
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-color: #daeaf3;
   
}

.snhv__div--chua_button{
    display: flex;
    width: 69%;
    justify-content: space-between;
}
.snhv__div--button_xoa{
    margin-right: 30px;
    background-color: red;
}

input.snhv--page {
    margin-left: 5px;
}

.snhv__div--tap {
    display: flex;
}

li.snhv__div {
    cursor: pointer;
    border: 1px solid #2F528F;
    border-radius: 10px;
    font-size: 20px;
    border-width: 5px;
    padding: 2px; 
    margin-right: 5px;
}
.snhv__div--snhv{
    background-color: rgb(68, 84, 106);
}
.snhv__div--tdd{
    background-color: #daeaf3;
}

.snhv__form--page{
    margin-top: 5px;
}

.snhv__icon_back{
    margin-top: auto;
    margin-bottom: auto;
}

i.fa-solid.fa-arrow-left {
    font-size: 33px;
    color: blue;
    margin-left: 10px;
}

.snhv__div--quatang {
    width: 27%;
    height: 375px;
    float: right;
    margin-right: 3px;
}

.snhv__div--chuatable {
    width: 71%;
    display: inline-block;
}

.snhv__div--chua_button-all {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6%
}

.snhv__div--chua_button-gift {
    width: 27%;
    display: flex;
    justify-content: center;
}
.snhv__div__div_quatang {
    display: flex;
    border-radius: 13px;
    border: 1px solid;
    width: 100%;
    height: 110px;
    background-color: #b4c7E7;
    margin-bottom: 15px;   
}

.snhv__div--thanhngan {
    margin-top: 3px;
    height: 12px;
    width: 100%;
    background-color: #4472C4;
}

.snhv__div--chuatable-thanhNgang {
    display: flex;
}

.snhv__div--thanhDoc {
    height: 416px;
    width: 12px;
    background-color: #4472C4;
    float:right;
    margin-right: 6px;
}

li.snhv__div.snhv__div--skkm {
    margin-left: 30px;
     background-color: #DAEAF3;
}

li.snhv__div.snhv__div--tichDiem {
    background-color: #DAEAF3;
}

button.snhv__div--button.js-xoa {
    background-color: red;
}

select.view__tdd__select {
    width: 266px;
    text-align: center;
}
textarea.snhv__table--add_input.snhv__table--add_input--text-area {
    width: 266px;
    height: 188px;
}

form.snhv__form--sendDate {
    display: flex;
}

button.snhv__table--button_guiDate {
    cursor: pointer;
    margin-left: 1%;
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-color: #daeaf3;
}

.snhv__div__div_quatang-baoDong {
    margin: 17px 0px 0px 8px;
}
img.snhv__div__div_quatang__form--showimg {
    height: 100%;
    width: 100px;
}
input.snhv__div__input--gift {
    width: 71px;
}

/* popup gift */
.view_gift__modal--popup.snhv__modal--popup--open
{
    display: flex;
}
.view_gift__modal--popup {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.view_gift__modal__div--popup{
    width: 100%;
}
.view_gift__modal__div--popup {
    border: 5px solid #2F528F;
    animation: slide-in 1s forwards;
    width: 500px;
    position: relative;
    background-color: lightblue;
    height: 400px;
    border-radius: 20px;
}
.view_gift__modal__div--u{  
    position: absolute;
    font-size: 22px;
    margin-left: 20px;
    top: 3%;
}

table.view_gift__table--addform {
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    background-color: lightblue;
    
}
select.view__tdd__select {
    width: 266px;
    text-align: center;
}

.view_gift__table--add_input{
    height: 20px;
    width: 266px;
}
button.view_gift__table--add-button.view_gift__table--button_huy {
    background-color: red;
}
.view_gift__table--add-button{
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 3px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #daeaf3;
    margin-left: 5px;
    float: right;
    margin-top: 12px;
}
button.view_gift__table--button_guiDate {
    /* border: 1px solid #2F528F; */
    /* border-radius: 10px; */
    /* border-width: 5px; */
    margin-left: 1%;
    padding: 5px;
    border: 1px solid #2F528F;
    border-width: 5px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-color: #daeaf3;
}
.snhv__div--showGift {
    display: flex;
}
.snhv__div--hienthi--bocHoiVien {
    display: contents;
}
.snhv__div--chua-hien-thi {
    display: contents;
}
.snhv__div--hienthi--bocQuaTang {
    display: contents;
}

a.shnv__div__a-xoaGift {
    margin-left: 39px;
    margin-right: 10px;
}

.sk__menu-header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin: 15px 15px 0 15px;
}
  
.sk__menu-header li {
    float: left;

}
  
.sk__menu-header li a {
    display: block;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 70px;
    text-decoration: none;
    background-color: #4472C4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
  
.sk__menu-header li a.small {   
    opacity: 0.5;
}

li.menu-li.menu-li-su-kien {
    background-color: rgb(68, 84, 106);
}

button.snhv__div--button.js-guiSMS {
    width: 92px;
    margin-left: 5px;
}
.snhv__div--chua_button--sua-gui {
    display: flex;
}

.tab-bar {
    margin-top: 10px;
    margin-left: 10px;
}

.tab-bar a {
    text-align: center;
    display: inline-block;
    width: 16%;
    padding: 12px;
    border: none;
    background-color: #d3cff1;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: white;
    text-decoration: none;
}

.tab-bar a.active {
    background-color: #5ca1ec;
}